
**/bin/
**/obj/
**/.vscode/
**/.zed/

/.vs
/Portajel.Droid/obj
/Portajel.Droid/bin


/Portajel.Mac/obj
/Portajel.Mac/bin

/Portajel.iOS/obj
/Portajel.iOS/bin

/Portajel.WinUI/obj
/Portajel.WinUI/bin

/Portajel.Desktop/obj
/Portajel.Desktop/bin

/Portajel.Connections/obj
/Portajel.Connections/bin

/Portajel/obj
/Portajel/bin

/.idea/